spring:
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/shared
  profiles:
     active: native

server:
  port: 8888

security:
  user:
    password: YFzCAfocMInyJ5YaO805

logging:
  level:
    root: WARN