hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 20000

ribbon:
  ReadTimeout: 20000
  ConnectTimeout: 20000

zuul:
  ignoredServices: '*'
  host:
    connect-timeout-millis: 20000
    socket-timeout-millis: 20000

  routes:
    security:
        path: /security/**
        url: http://security:5000
        stripPrefix: false
        sensitiveHeaders:

    payment:
        path: /payment/**
        serviceId: payment
        stripPrefix: false
        sensitiveHeaders:

server:
  port: 4000
